body {
    background-color: #ace6ca;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #030303;
}

p {
    font-size: 18px;
    color: #c7135b;
}

img {
    margin: 2px;
    border-radius: 2px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9f4710;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #37a2e4;
}
